@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Fugaz+One&family=Goldman:wght@400;700&family=Koulen&family=Monoton&family=Nabla&family=Nova+Round&family=Odibee+Sans&family=Staatliches&family=Zen+Dots&family=Zen+Tokyo+Zoo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Archivo+Black&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Paytone+One&family=Russo+One&family=Sulphur+Point:wght@300;400;700&family=Syne:wght@400;500;600;700;800&display=swap');  

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

/* font-family: 'Audiowide', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Goldman', cursive;
font-family: 'Koulen', cursive;
font-family: 'Monoton', cursive;
font-family: 'Nabla', cursive;
font-family: 'Nova Round', cursive;
font-family: 'Odibee Sans', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Zen Dots', cursive;
font-family: 'Zen Tokyo Zoo', cursive;
font-family: 'Alexandria', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Syne', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Ysabeau SC', sans-serif;