@media (max-width: 899px){

  /*header*/
  header{
    top: 0;
    left: 0;
    padding: 0 25px;
    background-color:#383434;
    width: 100%;
    box-sizing: border-box;
    height: 5.2rem;
    position: sticky;
    z-index: 9999;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header img {
    float: left;
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 50%;
  }

  .headerContainer{
    display: flex;
    align-items: center;
    height: 5.2rem;
  }

  .headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #introSidebar{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #titleSidebar{
    margin-top: 13px;
    font-size: 1.5em;
    font-family: 'audiowide';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .ccSidebar{
    padding: 20px;
    display: flex;
    gap: 13px;
    bottom: 100;
  }

  .ccSidebar a{
    color: black;
  }
  
  #sidebar{
    position: absolute;
    top: 5.22rem;
    left: -100%;
    width: 52%;
    height: 100%;
    background-color: #f8eca4;
    transition: 0.78s;
    z-index: 999;
  }
  
  #sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 90px;
    padding: 20px;
    justify-content: center;
    position: relative;
    font-family: staatliches;
    font-size: 1.3em;
  }
  
  #sidebar nav ul li{
    list-style: none;
    border-bottom: solid 1px #383434;
  }

  #sidebar ul li a:visited,
  #sidebar a:link{
    text-decoration: none;
    color: #383434;
  }

  #sidebar.active{
    left: 0;
    height: 100vh;
  }
  
  #toggle{
    position: absolute;
    display: block;
    float: right;
    color: #f8eca4;
    cursor: pointer;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle::before{
    content: '';
    position: absolute;
    transform: translateY(-5px);
    transition: 0.3s;
    width: 28px;
    height: 2px;
    background-color: #f8eca4; 
  }

  #toggle::after{
    content: '';
    position: absolute;
    transform: translateY(5px);
    transition: 0.3s;
    width: 28px;
    height: 2px;
    background-color: #f8eca4; 
  }

  #toggle.active::before{
    transform: translateY(0px) rotate(45deg);
  }
  
  #toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
  }

  /*end of header*/
}

@media (min-width: 900px){

  /*header*/
  header{
    top: 0;
    left: 0;
    padding: 0 25px;
    background-color:#383434;
    width: 100%;
    box-sizing: border-box;
    height: 5.2rem;
    position: sticky;
    z-index: 9999;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header img {
    float: left;
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 50%;
  }

  .headerContainer{
    display: flex;
    align-items: center;
    height: 5.2rem;
  }

  .headerWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #introSidebar{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  #titleSidebar{
    margin-top: 13px;
    font-size: 1.5em;
    font-family: 'audiowide';
    color: black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .ccSidebar{
    padding: 20px;
    display: flex;
    gap: 13px;
    bottom: 100;
  }

  .ccSidebar a{
    color: black;
  }
  
  #sidebar{
    position: absolute;
    top: 5.22rem;
    left: -100%;
    width: 25%;
    height: 100%;
    background-color: #f8eca4;
    transition: 0.91s;
    z-index: 999;
  }
  
  #sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 90px;
    padding: 20px;
    justify-content: center;
    position: relative;
    font-family: staatliches;
    font-size: 1.3em;
  }
  
  #sidebar nav ul li{
    list-style: none;
    border-bottom: solid 1px #383434;
  }

  #sidebar ul li a:visited,
  #sidebar a:link{
    text-decoration: none;
    color: #383434;
  }

  #sidebar.active{
    left: 0;
    height: 100vh;
  }
  
  #toggle{
    position: absolute;
    display: block;
    float: right;
    color: #f8eca4;
    cursor: pointer;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle::before{
    content: '';
    position: absolute;
    transform: translateY(-5px);
    transition: 0.3s;
    width: 28px;
    height: 2px;
    background-color: #f8eca4; 
  }

  #toggle::after{
    content: '';
    position: absolute;
    transform: translateY(5px);
    transition: 0.3s;
    width: 28px;
    height: 2px;
    background-color: #f8eca4; 
  }

  #toggle.active::before{
    transform: translateY(0px) rotate(45deg);
  }
  
  #toggle.active::after{
    transform: translateY(0px) rotate(-45deg);
  }

  /*end of header*/
}

